<br>
<br>
<br>
<br>
<h1 class="payment-heading">Select Payment Method</h1>
<p class="payment-subtext">Choose how you’d like to pay for your order.</p>

<div class="payment-options">
  <%= link_to "Online Pay", user_detail_new_id_path(1, quantity: @quantity), class: "payment-btn online-pay" %>

  <% if @count > 5 %>
    <p class="cod-unavailable">🚫 Cash on Delivery Not Available</p>
  <% else %>
    <%= link_to "Cash on Delivery", user_detail_new_id_path(2, quantity: @quantity), class: "payment-btn cod-pay" %>
  <% end %>
</div>
